#about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 3rem;

    width: 100%;
    min-height: 100vh;

    margin: 0px auto;

    border: 0.5px solid var(--font-hover-color);
    border-top: 2px solid var(--font-hover-color);
    border-bottom: 2px solid var(--font-hover-color);
    border-radius: 30% 0;
    overflow: hidden;
}

#about-me.visible{
    animation: scrollRevealOpacity 1.5s ease;
}

#about-me article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

@media (min-width: 768px){
    #about-me{
        padding: 1rem;
        padding-top: 7rem;
        width: 90%;
    }

    #about-me article{
        display: flex;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        max-width: 70%;
    }

    .image-container{
        border: 1px solid var(--font-hover-color);
        border-radius: 10px;
        padding: 0.5rem;
    
        background: linear-gradient(135deg, #fffffff5, var(--secondary-color), #ffffff98);
    
        transform: rotate(5deg);

        order: 2;
    }
    
    .image-container:nth-of-type(1){
        transform: rotate(-5deg);
    }
}

.personal-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 1.75rem;

    font-size: 1.15rem;
    line-height: 1.25;

    margin-bottom: 1rem;

    order: 2;
}

@media (min-width: 768px){
    .personal-intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 50%;

        order: 1;
    }
}

.personal-intro p{
    border: 1px solid var(--font-hover-color);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1.75rem;

    background: linear-gradient(135deg, #fffffff5, var(--secondary-color), #ffffff98);
    color: var(--font-color);
}


.personal-intro :nth-child(even){
    transform: rotate(-5deg);
}

.personal-intro :nth-child(odd){
    transform: rotate(5deg);
}

.personal-intro p span{
    font-weight: 700;
}

.image-container{
    border: 1px solid var(--font-hover-color);
    border-radius: 10px;
    padding: 0.5rem;

    background: linear-gradient(135deg, #fffffff5, var(--secondary-color), #ffffff98);

    transform: rotate(5deg);

    order: 1;
}

.interests :nth-child(even){
    transform: rotate(5deg);
    color: var(--font-hover-color);
}

.interests :nth-child(odd){
    transform: rotate(-5deg);
    color: var(--font-hover-color);
}

.image-container:nth-of-type(1){
    transform: rotate(-5deg);
}

.profile-img{
    border-radius: 10px;
    max-width: 10rem;
}
