#about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;

    width: 100%;
    min-height: 80vh;
    background: linear-gradient(135deg, #fffffff5, var(--main-color), #ffffff98);
    color: var(--font-color);

    margin: 0px auto;
}

#about-me article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

@media (min-width: 768px){
    #about-me{
        padding: 7rem 1rem;
    }
    
    #about-me article{
        width: 70%;
    }
}

#personal-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 1.75rem;

    font-size: 1.15rem;
    line-height: 1.25;

    margin-bottom: 1rem;
}

@media (min-width: 768px){
    #personal-intro{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}

#personal-intro p{
    border: 1px solid var(--font-hover-color);
    border-radius: 10px;
    padding: 1rem;
}

#personal-intro :nth-child(even){
    transform: rotate(-5deg);
}

#personal-intro :nth-child(odd){
    transform: rotate(5deg);
}

#personal-intro p span{
    font-weight: 700;
}

#image-container{
    border: 1px solid var(--font-hover-color);
    border-radius: 10px;
    padding: 0.5rem;

    transform: rotate(-5deg);
}

.profile-img{
    border-radius: 10px;
    max-width: 10rem;
}

#buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}