footer{
    margin-top: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-color);
    width: 100%;
    min-height: 15rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    padding: 1.5rem;
}

#footer-contact{
    margin: 0px auto;
}

#footer-contact h3{
    margin: 0px auto;
    margin-bottom: 1rem;
    font-size: 2rem;
    width: fit-content; 
}

#footer-contact p{
    line-height: 1.5;
}

#footer-contact-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

#footer-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
    margin: 0px auto;
    width: 50%;
}

#footer-form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
    width: 100%;
}

#footer-form div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
    width: 100%;
}

@media (min-width: 768px){
    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1.5rem;
        width: 100%;
    }

    #footer-contact{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #footer-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 0.5rem;
        margin: 0px auto;
        width: 50%;
    }

    #footer-form div{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        width: 70%;
    }

    #footer-form input{
        width: 70%;
    }

    #footer-form textarea{
        width: 70%;
    }

    #footer-form div div input{
        width: 100%;
    }
}
