<footer>
    
    <div id="footer-contact">
        <h3>
            ¡Hagamos sus ideas realidad!
        </h3>

        <p>
            Estoy a su disposición para llevar sus ideas a la práctica de la mejor forma posible.
        </p>
        <p>
            Sientase libre de contactarme por alguna de las siguientes vias:
        </p>

        <ul id="footer-contact-icons">
            <li>
                <img src="" alt="icon-LinkedIn">
            </li>
            <li>
                <img src="" alt="icon-Email">
            </li>
            <li>
                <img src="" alt="icon-Github">
            </li>
            <li>
                <img src="" alt="icon-Phone">
            </li>
        </ul>
    </div>

    <form action="" id="footer-form">
        
        <div>
            <div>
                <label for="name"> Nombre completo </label>
                <input type="text" name="name" placeholder="Ingrese su nombre">
            </div>

            <div>
                <label for="email"> Correo electronico </label>
                <input type="text" name="email" placeholder="Ingrese su email">
            </div>
        </div>

        <label for="subject"> Asunto </label>
        <input type="text" name="subject" placeholder="Ingrese el motivo">

        <label for="message"> Consulta </label>
        <textarea name="message" placeholder="Ingrese su consulta" rows=3 cols=10></textarea>

        <app-button [text]="'Enviar Mensaje'"></app-button>
    </form>

</footer>