<header class="bg-glass" [class.scrolled]="isScrolled">
    <a href="#">
        <div id="logo-container">
            <img src="images/logo-low.png" [attr.alt]="'NAVBAR.ALT-IMG-LOGO' | translate" id="navbar-logo">
        </div>
    </a>

    <button id="menu-toggle" aria-label="Toggle menu" (click)="toggleMenu()">☰</button>

    <ul id="navbar-menu" [class.active]="isMenuActive">
        <li class="nav-item">  
            <a href="#projects" (click)="toggleMenu()">
                {{'NAVBAR.ITEM-1' | translate}}
            </a>
        </li>
        <li class="nav-item">  
            <a href="#education" (click)="toggleMenu()">
                {{'NAVBAR.ITEM-2' | translate}}
            </a>
        </li>
        <li class="nav-item">  
            <a href="#about-me" (click)="toggleMenu()">
                {{'NAVBAR.ITEM-3' | translate}}
            </a>
        </li>
        <li class="nav-item">  
            <a href="#contact" (click)="toggleMenu()">
                {{'NAVBAR.ITEM-4' | translate}}
            </a>
        </li>
    </ul>
    
    <div id="lang-switch-container">
        <app-button-language></app-button-language>
    </div>
</header>

