<form
  [formGroup]="form"
  (ngSubmit)="send()"
  id="contact-form"
>
  <div>
    <div>
      <label for="name">{{ 'CONTACT-FORM.NAME-LABEL' | translate }}</label>
      <input
        type="text"
        id="name"
        [placeholder]= "'CONTACT-FORM.NAME-PLACEHOLDER' | translate"
        formControlName="name"
      />
      <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
        <small *ngIf="form.get('name')?.errors?.['required']">{{ 'CONTACT-FORM.NAME-ERR1' | translate }}</small>
        <small *ngIf="form.get('name')?.errors?.['minlength']">{{ 'CONTACT-FORM.NAME-ERR2' | translate }}</small>
      </div>
    </div>

    <div>
      <label for="email">{{ 'CONTACT-FORM.EMAIL-LABEL' | translate }}</label>
      <input
        type="email"
        id="email"
        [placeholder]= "'CONTACT-FORM.EMAIL-PLACEHOLDER' | translate"
        formControlName="email"
      />
      <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        <small *ngIf="form.get('email')?.errors?.['required']">{{ 'CONTACT-FORM.EMAIL-ERR1' | translate }}</small>
        <small *ngIf="form.get('email')?.errors?.['email']">{{ 'CONTACT-FORM.EMAIL-ERR2' | translate }}</small>
      </div>
    </div>
  </div>

  <label for="subject">{{ 'CONTACT-FORM.SUBJECT-LABEL' | translate }}</label>
  <input
    type="text"
    id="subject"
    [placeholder]= "'CONTACT-FORM.SUBJECT-PLACEHOLDER' | translate"
    formControlName="subject"
  />
  <div *ngIf="form.get('subject')?.invalid && form.get('subject')?.touched">
    <small *ngIf="form.get('subject')?.errors?.['required']">{{ 'CONTACT-FORM.SUBJECT-ERR1' | translate }}</small>
    <small *ngIf="form.get('subject')?.errors?.['minlength']">{{ 'CONTACT-FORM.SUBJECT-ERR2' | translate }}</small>
  </div>

  <label for="message">{{ 'CONTACT-FORM.MESSAGE-LABEL' | translate }}</label>
  <textarea
    id="message"
    [placeholder]= "'CONTACT-FORM.MESSAGE-PLACEHOLDER' | translate"
    rows="3"
    formControlName="message"
  ></textarea>
  <div *ngIf="form.get('message')?.invalid && form.get('message')?.touched">
    <small *ngIf="form.get('message')?.errors?.['required']">{{ 'CONTACT-FORM.MESSAGE-ERR1' | translate }}</small>
    <small *ngIf="form.get('message')?.errors?.['minlength']">{{ 'CONTACT-FORM.MESSAGE-ERR2' | translate }}</small>
  </div>

  <div id="btn-container">
    <app-button [text]="'CONTACT-FORM.BTN-SUBMIT' | translate" [action]="send" [form]="form"></app-button>
  </div>
</form>
