<section id="intro">

    <div id="text-container">
        <h1 class="">
            ¡Hola, soy Bruno Ortuño!
        </h1>
        <h2 class="">
            Desarrollador Web Fullstack
        </h2>
    </div>

    <div id="image-container">
        <img src="images/logo-low.jpg" alt="Animación de logo minimizando">
    </div>

    <div id="btns-container">
        <app-currvitae-btns></app-currvitae-btns>
    
        <app-button-arrow [section]="'#projects'" [sectionName]="'Proyectos'"></app-button-arrow>
    </div>


</section>