<section id="intro">

    <div id="text-container">
        <h1 class="">
            {{ 'INTRODUCTION.TITLE' | translate }}
        </h1>
        <h2 class="">
            {{ 'INTRODUCTION.SUBTITLE' | translate }}

        </h2>
    </div>

    <div id="image-container">
        <img src="images/logo-low.jpg" [alt]="'INTRODUCTION.ALT-IMG-LOGO' | translate">
    </div>

    <app-currvitae-btns></app-currvitae-btns>

    <app-button-arrow [section]="'#skills'" [sectionName]="'INTRODUCTION.GO-TO-NEXT-SECTION' | translate"></app-button-arrow>

</section>