<section id="education">
    <h2 class="subtitle">
        <i class='bx bx-book-alt' ></i>
        <span>Educación </span>
    </h2>

    <div id="education-container">

        <div class="info-container">
            
        </div>

        <div class="line">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
        
        <div class="info-container">
            
        </div>
        
    </div>

    <app-button-arrow [section]="'#about-me'" [sectionName]="'Sobre mí'"></app-button-arrow>
</section>