<section id="projects" class="bg-glass"  appScrollSpy=".nav-item:nth-of-type(2) a">

    <div id="projects-wrapper">
        <h2 class="subtitle">
            <i class='bx bx-folder' ></i>
            <span>{{ 'PROJECTS.TITLE' | translate }}</span>
        </h2>
    
        <div id="projects-container">
            <article *ngFor="let project of projects">
                <app-project-card [project] = "project"></app-project-card>
            </article>
        </div>
    </div>

    <app-button-arrow [section]="'#education'" [sectionName]="'PROJECTS.GO-TO-NEXT-SECTION' | translate"></app-button-arrow>
</section>