#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 100%;
    margin: 0px auto;    
    min-height: 80vh;
    
    padding: 7.1rem;

    border: 0.5px solid var(--font-hover-color);
    border-radius: 15px;

    overflow: hidden;
}



#projects.visible{
    animation: scrollRevealOpacity 1.5s ease;
}

#projects #projects-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    
    padding: 1rem;
    margin: 0px auto;
}

#projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 2rem;
}

#pagination-container{
    background-color: var(--secondary-color-trans);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    width: max-content;
    margin:1rem 0rem;
    padding:0.5rem 1rem;
    border: 1px solid var(--font-hover-color);
    border-radius: 15px 0px;
}

#pagination-container span{
    background-color:var(--main-color);
}

#pagination-container i{
    font-size: 2rem;
    color: var(--font-hover-color);
    cursor: pointer;
}

#pagination-container i:hover{
    color: var(--main-color);
}

#pagination-container i[disabled]{
    pointer-events: none;
}

@media (min-width: 446px){
    #projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 100%;
        margin: 0px auto;    
        min-height: 80vh;
        
        padding: 7.1rem;
    
        border: 0.5px solid var(--font-hover-color);
        border-top: 2px solid var(--font-hover-color);
        border-bottom: 2px solid var(--font-hover-color);
        border-radius: 30% 0;
    
        overflow: hidden;
    }
}

@media (min-width: 768px){
    #projects{
        width: 90%;
        margin: 0px auto;    
        min-height: 80vh;
        
        padding: 1rem;
    }

    #projects #projects-wrapper{
        padding: 7rem 1rem; 
        width: 70%;
    }
    #projects-container{
        max-width: 85%;
    }
}
