#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 90%;
    min-height: 80vh;
    
    padding: 1rem;
    margin: 0px auto;
}

@media (min-width: 768px){
    #projects{
        padding: 7rem 1rem; 
        width: 70%;
    }
}

#projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}