<div id="education-container">
        
    <div class="line">
        <div class="dot"></div>
    </div>

    <div class="header">
        <div>
            <h3 *ngIf="education.name">
                {{education.name}}
            </h3>
            <h4 *ngIf="education.place">
                {{education.place}}
            </h4>
            <h5 *ngIf="education.date">
                {{education.date}}
            </h5>
        </div>
    </div>

    <div class="content">
        <p *ngIf="education.subjects">
            {{education.description}}
        </p>
        <p *ngIf="education.subjects">
            <span>{{'EDUCATION.SKILLS' | translate}}: </span> {{(education.subjects)}}
        </p>
    </div>
    
</div>